<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fengf.blog.mapper.ArticlesMapper" >
  <resultMap id="BaseResultMap" type="com.fengf.blog.pojo.Articles" >
    <id column="article_id" property="articleId" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="uptime" property="uptime" jdbcType="VARCHAR" />
    <result column="reading" property="reading" jdbcType="INTEGER" />
    <result column="author" property="author" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="likecount" property="likecount" jdbcType="INTEGER" />
    <result column="dislike" property="dislike" jdbcType="INTEGER" />
    <result column="commentcontent" property="commentcontent" jdbcType="INTEGER" />
    <result column="topic" property="topic" jdbcType="VARCHAR" />
    <result column="to_uid" property="toUid" jdbcType="VARCHAR" />
    <result column="catalog" property="catalog" jdbcType="VARCHAR" />
    <result column="keyword1" property="keyword1" jdbcType="VARCHAR" />
    <result column="keyword2" property="keyword2" jdbcType="VARCHAR" />
    <result column="keyword3" property="keyword3" jdbcType="VARCHAR" />
    <result column="isopen" property="isopen" jdbcType="VARCHAR" />
    <result column="top" property="top" jdbcType="VARCHAR" />
    <result column="tOPtime" property="toptime" jdbcType="VARCHAR" />
    <result column="author_id" property="authorId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    article_id, title, uptime, reading, author, content, likecount, dislike, commentcontent,
    topic, to_uid, catalog, keyword1, keyword2, keyword3, isopen, top, tOPtime, author_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.fengf.blog.pojo.ArticlesExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from articles
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from articles
    where article_id = #{articleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from articles
    where article_id = #{articleId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.fengf.blog.pojo.ArticlesExample" >
    delete from articles
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fengf.blog.pojo.Articles" >
    insert into articles (article_id, title, uptime,
      reading, author, content,
      likecount, dislike, commentcontent,
      topic, to_uid, catalog,
      keyword1, keyword2, keyword3,
      isopen, top, tOPtime,
      author_id)
    values (#{articleId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{uptime,jdbcType=VARCHAR},
      #{reading,jdbcType=INTEGER}, #{author,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR},
      #{likecount,jdbcType=INTEGER}, #{dislike,jdbcType=INTEGER}, #{commentcontent,jdbcType=INTEGER},
      #{topic,jdbcType=VARCHAR}, #{toUid,jdbcType=VARCHAR}, #{catalog,jdbcType=VARCHAR},
      #{keyword1,jdbcType=VARCHAR}, #{keyword2,jdbcType=VARCHAR}, #{keyword3,jdbcType=VARCHAR},
      #{isopen,jdbcType=VARCHAR}, #{top,jdbcType=VARCHAR}, #{toptime,jdbcType=VARCHAR},
      #{authorId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.fengf.blog.pojo.Articles" >
    insert into articles
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="articleId != null" >
        article_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="uptime != null" >
        uptime,
      </if>
      <if test="reading != null" >
        reading,
      </if>
      <if test="author != null" >
        author,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="likecount != null" >
        likecount,
      </if>
      <if test="dislike != null" >
        dislike,
      </if>
      <if test="commentcontent != null" >
        commentcontent,
      </if>
      <if test="topic != null" >
        topic,
      </if>
      <if test="toUid != null" >
        to_uid,
      </if>
      <if test="catalog != null" >
        catalog,
      </if>
      <if test="keyword1 != null" >
        keyword1,
      </if>
      <if test="keyword2 != null" >
        keyword2,
      </if>
      <if test="keyword3 != null" >
        keyword3,
      </if>
      <if test="isopen != null" >
        isopen,
      </if>
      <if test="top != null" >
        top,
      </if>
      <if test="toptime != null" >
        tOPtime,
      </if>
      <if test="authorId != null" >
        author_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="articleId != null" >
        #{articleId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="uptime != null" >
        #{uptime,jdbcType=VARCHAR},
      </if>
      <if test="reading != null" >
        #{reading,jdbcType=INTEGER},
      </if>
      <if test="author != null" >
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="likecount != null" >
        #{likecount,jdbcType=INTEGER},
      </if>
      <if test="dislike != null" >
        #{dislike,jdbcType=INTEGER},
      </if>
      <if test="commentcontent != null" >
        #{commentcontent,jdbcType=INTEGER},
      </if>
      <if test="topic != null" >
        #{topic,jdbcType=VARCHAR},
      </if>
      <if test="toUid != null" >
        #{toUid,jdbcType=VARCHAR},
      </if>
      <if test="catalog != null" >
        #{catalog,jdbcType=VARCHAR},
      </if>
      <if test="keyword1 != null" >
        #{keyword1,jdbcType=VARCHAR},
      </if>
      <if test="keyword2 != null" >
        #{keyword2,jdbcType=VARCHAR},
      </if>
      <if test="keyword3 != null" >
        #{keyword3,jdbcType=VARCHAR},
      </if>
      <if test="isopen != null" >
        #{isopen,jdbcType=VARCHAR},
      </if>
      <if test="top != null" >
        #{top,jdbcType=VARCHAR},
      </if>
      <if test="toptime != null" >
        #{toptime,jdbcType=VARCHAR},
      </if>
      <if test="authorId != null" >
        #{authorId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fengf.blog.pojo.ArticlesExample" resultType="java.lang.Integer" >
    select count(*) from articles
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update articles
    <set >
      <if test="record.articleId != null" >
        article_id = #{record.articleId,jdbcType=INTEGER},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.uptime != null" >
        uptime = #{record.uptime,jdbcType=VARCHAR},
      </if>
      <if test="record.reading != null" >
        reading = #{record.reading,jdbcType=INTEGER},
      </if>
      <if test="record.author != null" >
        author = #{record.author,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.likecount != null" >
        likecount = #{record.likecount,jdbcType=INTEGER},
      </if>
      <if test="record.dislike != null" >
        dislike = #{record.dislike,jdbcType=INTEGER},
      </if>
      <if test="record.commentcontent != null" >
        commentcontent = #{record.commentcontent,jdbcType=INTEGER},
      </if>
      <if test="record.topic != null" >
        topic = #{record.topic,jdbcType=VARCHAR},
      </if>
      <if test="record.toUid != null" >
        to_uid = #{record.toUid,jdbcType=VARCHAR},
      </if>
      <if test="record.catalog != null" >
        catalog = #{record.catalog,jdbcType=VARCHAR},
      </if>
      <if test="record.keyword1 != null" >
        keyword1 = #{record.keyword1,jdbcType=VARCHAR},
      </if>
      <if test="record.keyword2 != null" >
        keyword2 = #{record.keyword2,jdbcType=VARCHAR},
      </if>
      <if test="record.keyword3 != null" >
        keyword3 = #{record.keyword3,jdbcType=VARCHAR},
      </if>
      <if test="record.isopen != null" >
        isopen = #{record.isopen,jdbcType=VARCHAR},
      </if>
      <if test="record.top != null" >
        top = #{record.top,jdbcType=VARCHAR},
      </if>
      <if test="record.toptime != null" >
        tOPtime = #{record.toptime,jdbcType=VARCHAR},
      </if>
      <if test="record.authorId != null" >
        author_id = #{record.authorId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update articles
    set article_id = #{record.articleId,jdbcType=INTEGER},
    title = #{record.title,jdbcType=VARCHAR},
    uptime = #{record.uptime,jdbcType=VARCHAR},
    reading = #{record.reading,jdbcType=INTEGER},
    author = #{record.author,jdbcType=VARCHAR},
    content = #{record.content,jdbcType=VARCHAR},
    likecount = #{record.likecount,jdbcType=INTEGER},
    dislike = #{record.dislike,jdbcType=INTEGER},
    commentcontent = #{record.commentcontent,jdbcType=INTEGER},
    topic = #{record.topic,jdbcType=VARCHAR},
    to_uid = #{record.toUid,jdbcType=VARCHAR},
    catalog = #{record.catalog,jdbcType=VARCHAR},
    keyword1 = #{record.keyword1,jdbcType=VARCHAR},
    keyword2 = #{record.keyword2,jdbcType=VARCHAR},
    keyword3 = #{record.keyword3,jdbcType=VARCHAR},
    isopen = #{record.isopen,jdbcType=VARCHAR},
    top = #{record.top,jdbcType=VARCHAR},
    tOPtime = #{record.toptime,jdbcType=VARCHAR},
    author_id = #{record.authorId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fengf.blog.pojo.Articles" >
    update articles
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="uptime != null" >
        uptime = #{uptime,jdbcType=VARCHAR},
      </if>
      <if test="reading != null" >
        reading = #{reading,jdbcType=INTEGER},
      </if>
      <if test="author != null" >
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="likecount != null" >
        likecount = #{likecount,jdbcType=INTEGER},
      </if>
      <if test="dislike != null" >
        dislike = #{dislike,jdbcType=INTEGER},
      </if>
      <if test="commentcontent != null" >
        commentcontent = #{commentcontent,jdbcType=INTEGER},
      </if>
      <if test="topic != null" >
        topic = #{topic,jdbcType=VARCHAR},
      </if>
      <if test="toUid != null" >
        to_uid = #{toUid,jdbcType=VARCHAR},
      </if>
      <if test="catalog != null" >
        catalog = #{catalog,jdbcType=VARCHAR},
      </if>
      <if test="keyword1 != null" >
        keyword1 = #{keyword1,jdbcType=VARCHAR},
      </if>
      <if test="keyword2 != null" >
        keyword2 = #{keyword2,jdbcType=VARCHAR},
      </if>
      <if test="keyword3 != null" >
        keyword3 = #{keyword3,jdbcType=VARCHAR},
      </if>
      <if test="isopen != null" >
        isopen = #{isopen,jdbcType=VARCHAR},
      </if>
      <if test="top != null" >
        top = #{top,jdbcType=VARCHAR},
      </if>
      <if test="toptime != null" >
        tOPtime = #{toptime,jdbcType=VARCHAR},
      </if>
      <if test="authorId != null" >
        author_id = #{authorId,jdbcType=INTEGER},
      </if>
    </set>
    where article_id = #{articleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fengf.blog.pojo.Articles" >
    update articles
    set title = #{title,jdbcType=VARCHAR},
      uptime = #{uptime,jdbcType=VARCHAR},
      reading = #{reading,jdbcType=INTEGER},
      author = #{author,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      likecount = #{likecount,jdbcType=INTEGER},
      dislike = #{dislike,jdbcType=INTEGER},
      commentcontent = #{commentcontent,jdbcType=INTEGER},
      topic = #{topic,jdbcType=VARCHAR},
      to_uid = #{toUid,jdbcType=VARCHAR},
      catalog = #{catalog,jdbcType=VARCHAR},
      keyword1 = #{keyword1,jdbcType=VARCHAR},
      keyword2 = #{keyword2,jdbcType=VARCHAR},
      keyword3 = #{keyword3,jdbcType=VARCHAR},
      isopen = #{isopen,jdbcType=VARCHAR},
      top = #{top,jdbcType=VARCHAR},
      tOPtime = #{toptime,jdbcType=VARCHAR},
      author_id = #{authorId,jdbcType=INTEGER}
    where article_id = #{articleId,jdbcType=INTEGER}
  </update>
  <select id="selectArticleListByUser" parameterType="ArticleQueryVo" resultMap="BaseResultMap">
		select * from articles where author_id = #{authorId} and isopen = 'on'
		order by article_id desc
        limit #{startRow},#{size}
	</select>
  <select id="selectMyArticleList" parameterType="ArticleQueryVo" resultMap="BaseResultMap">
		select * from articles where author_id = #{authorId}
		order by article_id desc
        limit #{startRow},#{size}
	</select>
  <select id="articleCountByUserId" parameterType="java.lang.Integer" resultType="Integer">
    select count(1) from articles where author_id = #{i} and isopen = 'on'
  </select>
  <select id="myArticleCount" parameterType="java.lang.Integer" resultType="Integer">
    select count(1) from articles where author_id = #{i}
  </select>
  <update id="updateLikeByPrimaryKey" parameterType="com.fengf.blog.pojo.Articles" >
    update articles
    set likecount = #{likecount,jdbcType=INTEGER}
    where article_id = #{articleId,jdbcType=INTEGER}
  </update>
  <update id="updateDisLikeByPrimaryKey" parameterType="com.fengf.blog.pojo.Articles" >
    update articles
    set dislike = #{dislike,jdbcType=INTEGER}
    where article_id = #{articleId,jdbcType=INTEGER}
  </update>

  <update id="addReadingByPrimaryKey" parameterType="java.lang.Integer" >
    update articles
    set reading = reading + 1
    where article_id = #{articleId,jdbcType=INTEGER}
  </update>
  <select id="articleCountByQueryVo" parameterType="ArticleQueryVo" resultType="Integer">
    select count(1) from articles
    <where>
      <if test="title!=null and title!=''">
        title like "%"#{title}"%"
      </if>
      <if test="keyword1!=null and keyword1!=''">
        and keyword1 like "%"#{keyword1}"%"
      </if>
      <if test="keyword2!=null and keyword2!=''">
        and keyword2 like "%"#{keyword2}"%"
      </if>
      <if test="keyword3!=null and keyword3!=''">
      and keyword3 like "%"#{keyword3}"%"
      </if>
      <if test="topic!=null and topic!=''">
        and topic = #{topic}
      </if>
      and isopen = 'on'
    </where>
  </select>
  <select id="selectArticleListByQueryVo" parameterType="ArticleQueryVo" resultMap="BaseResultMap">
    select * from articles
    <where>
      <if test="title!=null and title!=''">
        title like "%"#{title}"%"
      </if>
      <if test="keyword1!=null and keyword1!=''">
        and keyword1 like "%"#{keyword1}"%"
      </if>

      <if test="keyword2!=null and keyword2!=''">
        and keyword2 like "%"#{keyword2}"%"
      </if>
      <if test="keyword3!=null and keyword3!=''">
        and keyword3 like "%"#{keyword3}"%"
      </if>
      <if test="topic!=null and topic!=''">
        and topic = #{topic}
      </if>
      and isopen = 'on'
    </where>
    order by article_id desc
    limit #{startRow},#{size}
  </select>

  <select id="selectArticleListByQueryVoAndReadings" parameterType="ArticleQueryVo" resultMap="BaseResultMap">
    select * from articles
    <where>
      <if test="title!=null and title!=''">
        title like "%"#{title}"%"
      </if>
      <if test="keyword1!=null and keyword1!=''">
        and keyword1 like "%"#{keyword1}"%"
      </if>

      <if test="keyword2!=null and keyword2!=''">
        and keyword2 like "%"#{keyword2}"%"
      </if>
      <if test="keyword3!=null and keyword3!=''">
        and keyword3 like "%"#{keyword3}"%"
      </if>
      <if test="topic!=null and topic!=''">
        and topic = #{topic}
      </if>
      and isopen = 'on'
    </where>
    order by reading desc
    limit #{startRow},#{size}
  </select>
</mapper>